<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>User Search</title>
</head>
<head>
    <meta charset="UTF-8">
    <title>User Search</title>
</head>
<body>
<h2>User Search</h2>
<form action="#" th:action="@{/search}" th:object="${userSearchPage}" method="post">
    <table>
        <tr>
            <td>First name</td>
            <td>Second name</td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{name}" /></td>
            <td><input type="text" th:field="*{secondName}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            <td th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}">Second name Error</td>
        </tr>

        <tr>
            <td><button type="submit">Search</button>
                <button type="reset">Reset</button></td>
        </tr>
    </table>
</form>
<div th:if="${errMessage}">
    <h2 th:text="${errMessage}"/>
</div>
<div th:if="${successMessage}">
    <h3>Search result: </h3>
    <h3 th:text="${successMessage}"/>
    <h3>User browser: </h3>
    <h3 th:text="${browser}"/>
    <h3>User time: </h3>
    <h3 th:text="${userTime}"/>
</div>
<a th:href="@{/}">to home</a>
</body>
</html>